<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="static/img/efficio.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    AutoCube
  </title>

</head>

<body>
  <div>

      <h2>Welcome to AutoCube</h2>
      <br>

      <form action="/upload" method="post" enctype="multipart/form-data">
          <p>Select a file to upload</p>
          <br>
          <input type="file" name="file" value="file">
          <br>
          <br>
          <input type="submit" name="upload" value="Upload" class="btn btn-success">

        <br>
        {{ msg }}

      </form>
      <br>
  </div>

</body>

</html>