<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="efficio-icon" sizes="76x76" href="static/img/efficio.png">
  <link rel="icon" type="image/png" href="static/img/efficio.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    AutoCube
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!-- Fonts and icons -->

</head>

<body>

<div>

    <h2>Welcome to AutoCube</h2>
    <br>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <p>Select a file to upload</p>
        <br>
        <input type="file" name="file" value="file">
        <br>
        <br>
        <input type="submit" name="upload" value="Upload" class="btn btn-success">

    </form>
    <br>

    <p>Select your columns</p>
    <br>

    <form method="post" action="/submit-form">

        <p>URN</p>

        <select name="urn">
            {% for header in msg[0:] %}
            <option value="{{header}}">{{header}}</option>
            {% endfor %}
        </select>

        <p>Source</p>

        <select name="source">
            {% for header in msg[0:] %}
            <option value="{{header}}">{{header}}</option>
            {% endfor %}
        </select>

        <p>Client</p>

        <select name="client">
            {% for header in msg[0:] %}
            <option value="{{header}}">{{header}}</option>
            {% endfor %}
        </select>

        <p>Invoice Date</p>

         <select name="invoice_date">
            {% for header in msg[0:] %}
            <option value="{{header}}">{{header}}</option>
            {% endfor %}
        </select>

        <p>Description</p>

        <select name="description">
            {% for header in msg[0:] %}
            <option value="{{header}}">{{header}}</option>
            {% endfor %}
        </select>

        <p>Original Supplier</p>

        <select name="original supplier">
            {% for header in msg[0:] %}
            <option value="{{header}}">{{header}}</option>
            {% endfor %}
        </select>

        <p>Invoice Currency</p>

        <select name="invoice_currency">
            {% for header in msg[0:] %}
            <option value="{{header}}">{{header}}</option>
            {% endfor %}
        </select>

        <p>Reporting Value</p>

        <select name="reporting value">
            {% for header in msg[0:] %}
            <option value="{{header}}">{{header}}</option>
            {% endfor %}
        </select>

        <p>GL Description</p>

        <select name="gl_description">
            {% for header in msg[0:] %}
            <option value="{{header}}">{{header}}</option>
            {% endfor %}
        </select>

        <p>PO Description</p>

        <select name="po_description">
            {% for header in msg[0:] %}
            <option value="{{header}}">{{header}}</option>
            {% endfor %}
        </select>

        <button> Submit </button>
    </form>

    <br><br>

</div>

<br>

</body>

</html>